.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--white-color);
  padding: 2rem;
}

.search {
  padding: 0.4rem;
  width: 150%;
  border: 1px solid;
  border-radius: 0.4rem;
}
